<h3 class="text-center">Shipping Address</h3>
<form id="address-form" name="coCtrl.addressForm" ng-submit="coCtrl.submitAddressInfo(coCtrl.addressForm.$valid)" novalidate>

    <!-- Delivery Information -->
    <section class="shipping-form">
        <div class="form-group col-xs-12">
            <label for="shipping-full-name">Full Name</label>
            <span class="form-success" ng-if="coCtrl.addressForm.shippingFullName.$valid && coCtrl.addressForm.shippingFullName.$touched"><i class="fa fa-check-circle"></i></span>
            <span class="form-error" ng-messages="coCtrl.addressForm.shippingFullName.$error" ng-if="coCtrl.invalid.touched(coCtrl.addressForm.shippingFullName)">
                <span ng-message="required"><i class="fa fa-times-circle"></i> Required</span>
            </span>
            <input id="shipping-full-name" type="text" name="shippingFullName" class="form-control" ng-model="coCtrl.checkout.shipping.fullName" placeholder="John Smith" required/>
        </div>
        <div class="form-group col-xs-12">
            <label for="shipping-street-address-1">Street Address</label>
            <span class="form-success" ng-if="coCtrl.addressForm.shippingStreetAddress1.$valid && coCtrl.addressForm.shippingStreetAddress1.$touched"><i class="fa fa-check-circle"></i></span>
            <span class="form-error" ng-messages="coCtrl.addressForm.shippingStreetAddress1.$error" ng-if="coCtrl.invalid.touched(coCtrl.addressForm.shippingStreetAddress1)">
                <span ng-message="required"><i class="fa fa-times-circle"></i> Required</span>
            </span>
            <input id="shipping-street-address-1" type="text" name="shippingStreetAddress1" class="form-control" ng-model="coCtrl.checkout.shipping.streetAddress1" placeholder="123 Main St" required/>
            <input id="shipping-street-address-2" type="text" name="shippingStreetAddress2" class="form-control address2" ng-model="coCtrl.checkout.shipping.streetAddress2" placeholder="Apt. 123"/>
        </div>
        <div class="zipcode-container form-group col-xs-12 col-md-6">
            <label for="shipping-zipcode">Zipcode</label>
            <span class="form-success" ng-if="coCtrl.addressForm.shippingZipcode.$valid && coCtrl.addressForm.shippingZipcode.$touched"><i class="fa fa-check-circle"></i></span>
            <span class="form-error" ng-messages="coCtrl.addressForm.shippingZipcode.$error" ng-if="coCtrl.invalid.touched(coCtrl.addressForm.shippingZipcode)">
                <span ng-message="required"><i class="fa fa-times-circle"></i> Required</span>
                <span ng-message="pattern"><i class="fa fa-times-circle"></i> Invalid format</span>
                <span ng-message="zipcodeExists"><i class="fa fa-times-circle"></i> Does not exist</span>
            </span>
            <input id="shipping-zipcode" type="text" name="shippingZipcode" class="form-control" ng-change="coCtrl.zipcodeSearch()" ng-model="coCtrl.checkout.shipping.zipcode" ng-pattern="/^(\d{5}-\d{4}|\d{5})$/" placeholder="Eg. 11111" required/>
        </div>
        <div class="city-state-container form-group col-xs-12 col-md-6">
            <div class="city-container col-xs-6 no-padding">
                <label for="shipping-city">City</label>
                <span class="form-success" ng-if="coCtrl.addressForm.shippingCity.$valid && coCtrl.addressForm.shippingCity.$touched"><i class="fa fa-check-circle"></i></span>
                <span class="form-error" ng-messages="coCtrl.addressForm.shippingCity.$error" ng-if="coCtrl.invalid.touched(coCtrl.addressForm.shippingCity)">
                    <span ng-message="required">Required <i class="fa fa-times-circle"></i></span>
                </span>
                <span ng-show="coCtrl.addressForm.shippingCity.$invalid && !coCtrl.addressForm.shippingCity.$pristine" class="form-error">error</span>
                <input id="shipping-city" type="text" name="shippingCity" class="form-control" ng-model="coCtrl.checkout.shipping.city" placeholder="City/Town" required/>
            </div>
            <div class="state-container col-xs-6 no-padding">
                <label for="shipping-state">State</label>
                <span class="form-success" ng-if="coCtrl.addressForm.shippingState.$valid && coCtrl.addressForm.shippingState.$touched"><i class="fa fa-check-circle"></i></span>
                <span class="form-error" ng-messages="coCtrl.addressForm.shippingState.$error" ng-if="coCtrl.invalid.touched(coCtrl.addressForm.shippingCity)">
                    <span ng-message="required">City is required. <i class="fa fa-times-circle"></i></span>
                </span>
                <span ng-show="coCtrl.addressForm.shippingState.$invalid && !coCtrl.addressForm.shippingState.$pristine" class="form-error">error</span>
                <select id="shipping-state" name="shippingState" class="form-control" ng-options="state.name for state in coCtrl.states track by state.abbreviation" ng-model="coCtrl.checkout.shipping.state"></select>
            </div>
        </div>
        <div class="phone-container form-group col-xs-12 col-md-6">
            <label for="shipping-phonenumber">Phone Number <a href="#" tooltip="{{coCtrl.phoneNumberToolTip}}"><i class="fa fa-info-circle"></i></a> <span class="text-help">(optional)</span></label>
            <input id="shipping-phonenumber" type="text" name="shippingPhonenumber" class="form-control" ng-model="coCtrl.checkout.shipping.phoneNumber" ui-mask="(999) 999-9999"/>
        </div>
        <div class="form-group col-xs-12">
            <label for="use-shipping-toggle" class="checkbox-inline" ng-init="coCtrl.checkout.billing.useShipping = true">
                <input id="use-shipping-toggle" type="checkbox" ng-model="coCtrl.checkout.billing.useShipping"/> Use this address as Billing Address?
            </label>
        </div>
    </section>
    <!-- End Delivery Information -->

    <!-- Billing Information -->
    <section class="billing-form" ng-show="!coCtrl.checkout.billing.useShipping">
        <div class="form-group col-xs-12">
            <label for="billing-full-name">Full Name</label>
            <input id="billing-full-name" type="text" name="billingFullName" class="form-control" ng-model="coCtrl.checkout.billing.fullName" placeholder="John Smith" ng-required="!coCtrl.checkout.billing.useShipping"/>
        </div>
        <div class="form-group col-xs-12">
            <label for="billing-street-address">Street Address</label>
            <input id="billing-street-address" type="text" name="billingStreetAddress" class="form-control" ng-model="coCtrl.checkout.billing.streetAddress1" placeholder="123 Main St" ng-required="!coCtrl.checkout.billing.useShipping"/>
            <input id="billing-street-address-2" type="text" name="billingStreetAddress2" class="form-control address2" ng-model="coCtrl.checkout.billing.streetAddress2s" placeholder="Apt. 123"/>
        </div>
        <div class="zipcode-container form-group col-xs-12 col-md-6">
            <label for="billing-zipcode">Zipcode</label>
            <input id="billing-zipcode" type="text" name="billingZipcode" class="form-control" ng-change="coCtrl.zipcodeSearch()" ng-model="coCtrl.checkout.billing.zipcode" ng-pattern="/^(\d{5}-\d{4}|\d{5})$/" placeholder="Eg. 11111" ng-required="!coCtrl.checkout.billing.useShipping"/>
        </div>
        <div class="city-state-container form-group col-xs-12 col-md-6">
            <div class="city-container col-xs-6 no-padding">
                <label for="billing-city">City</label>
                <input id="billing-city" type="text" name="billingCity" class="form-control" ng-model="coCtrl.checkout.billing.city" placeholder="City/Town" ng-required="!coCtrl.checkout.billing.useShipping"/>
            </div>
            <div class="state-container col-xs-6 no-padding">
                <label for="billing-state">State</label>
                <input id="billing-state" type="text" name="billingState" class="form-control" ng-model="coCtrl.checkout.billing.state" placeholder="State" ng-required="!coCtrl.checkout.billing.useShipping"/>
            </div>
        </div>
        <div class="phone-container form-group col-xs-12 col-md-6">
            <label for="billing-phonenumber">Phone Number <a href="#"><i class="fa fa-info-circle"></i></a></label>
            <input id="billing-phonenumber" type="text" name="billingPhonenumber" class="form-control" ng-model="coCtrl.checkout.billing.phoneNumber" placeholder="555-555-5555" ng-required="!coCtrl.checkout.billing.useShipping"/>
        </div>
    </section>
    <!-- End Billing Information -->

    <div class="form-button-container col-xs-12">
        <button type="submit" class="btn btn-success pull-right col-xs-12" ng-disabled="coCtrl.addressForm.$invalid">Proceed To Delivery Options</button>
    </div>
</form>