<div class="screen screen-checkout-flow">
    <div class="col-xxs-12">
        <div class="col-xxs-6">
            <h2>Deliver To:</h2>
            <form name="shippingForm" ng-submit="checkoutCtrl.submitShipping(shippingForm.$invalid)">
                <div class="form-group">
                    <label for="full-name">Full Name</label>
                    <input id="full-name" type="text" name="fullName" class="form-control" ng-model="checkoutCtrl.checkout.shipping.fullName" placeholder="Full Name"/>
                </div>
                <div class="form-group">
                    <label for="street-address">Street Address</label>
                    <input id="street-address" type="text" name="streetAddress" class="form-control" ng-model="checkoutCtrl.checkout.shipping.streetAddress" placeholder="Street Address"/>
                </div>
                <div class="form-group">
                    <label for="zipcode">Zipcode</label>
                    <input id="zipcode" type="text" name="zipcode" class="form-control" ng-change="checkoutCtrl.zipcodeSearch()" ng-model="checkoutCtrl.checkout.shipping.zipcode" ng-model-options="{debounce: 250}" ng-pattern="/^(\d{5}-\d{4}|\d{5})$/" placeholder="Zipcode" required/>
                </div>
                <div class="form-group">
                    <div class="col-xs-6 no-padding">
                        <label for="city">City</label>
                        <input id="city" type="text" name="city" class="form-control" ng-model="checkoutCtrl.checkout.shipping.city" placeholder="City"/>
                    </div>
                    <div class="col-xs-6 no-padding">
                        <label for="state">State</label>
                        <input id="state" type="text" name="state" class="form-control" ng-model="checkoutCtrl.checkout.shipping.state" placeholder="State"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xxs-6">

        </div>
    </div>
    <div class="col-xxs-12">

    </div>
    <div class="col-xxs-12">

    </div>
</div>