@import "bootstrap-overrides/custom-variables.less";
.page {
    background: @white;
    height: 100vh;
}

.section-welcome {
    height: 100vh;
    width: 100%;
    background: url('/static/assets/images/backgrounds/wood.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.splash-information-bar {
    height: 40px;
    background: #323232;
}

.section-introduction {
    text-align: center;
}

.article-introduction {
    padding: 35px;

    .kelly-img {
        margin-right: 20px;
    }
}

.text-introduction {
    text-align: left;
    font-size: 20px;
    padding: 15px;
}