<!-- Profile Sidebar -->
<aside class="sidebar">
    <div class="sidebar-inner">

        <!-- Profile Nav -->
        <nav>
            <ul class="nav">
                <li class="nav-heading"><span>User Profile</span></li>
                <li ui-sref-active="active" ng-repeat="profileItem in profile.profileItems">
                    <a ui-sref="{{profileItem.state}}" class="">
                        <em class="fa {{profileItem.iconCls}}"></em>
                        <span>{{profileItem.name}}</span>
                    </a>
                </li>
            </ul>
            <ul ui-sref-active="active" ng-if="profile.user.isAdmin" class="nav">
                <li class="nav-heading"><span>Admin Utilities</span></li>
                <li ui-sref-active="active" ng-repeat="adminItem in profile.adminItems">
                    <a ui-sref="{{adminItem.state}}" class="">
                        <em class="fa {{adminItem.iconCls}}"></em>
                        <span>{{adminItem.name}}</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Profile Nav -->

    </div>
</aside>
<!-- End Profile Sidebar-->

<!-- Profile Content -->
<div ui-view="content" class="screen screen-profile"></div>
<!-- End Profile Content -->