<div class="screen screen-profile">
    <header class="subnav-header">

    </header>
    <div class="constrain profile-nav">
        <ul class="list-inline pull-right">
            <li ng-if="master.isAdmin">
                <a ui-sref="auth.profile.admin" class="pull-right"><i class="fa fa-user-secret"></i> Admin Mode</a>
            </li>
            <li>
                <a ui-sref="auth.profile" class="pull-right"><i class="fa fa-cogs"></i> Profile Settings</a>
            </li>
        </ul>
    </div>
</div>