<div class="screen screen-auth">
    <div class="auth-dialog">
        <div class="auth-logo-container">
            <img src="/static/assets/images/logo/southerncreations-small.svg" alt="sc-small"/>
        </div>
        <h3 class="auth-header text-center">Login</h3>
        <form ng-submit="loginCtrl.submit()">
            <div class="material-group">
                <input ng-model="loginCtrl.user.username" type="text" class="material-input" id="email" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="email" class="material-label">Email</label>
            </div>
            <div class="material-group">
                <input ng-model="loginCtrl.user.password" type="password" class="material-input" id="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="password" class="material-label">Password</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-full-width">Sign In</button>
            <a class="forgot-link" href="/forgot">Forgot Password?</a>
        </form>
        <div class="login-option-seperator">
            <span class="seperator">Or</span>
        </div>
        <button class="btn btn-lg btn-facebook btn-full-width"><i class="fa fa-facebook-square"></i> Sign In With Facebook</button>
    </div>
</div>