
<div class="page page-home" ng-controller="HomeController as home">
    <section class="section-welcome">

    </section>
    <div class="splash-information-bar">

    </div>
    <section class="section-introduction">
        <article class="article-introduction constrain">

            <img src="http://placehold.it/170X170" alt="placeholder" class="kelly-img img-circle pull-left">
            <p class="text-introduction">Cow turducken jerky tri-tip kielbasa tongue. Prosciutto jerky ribeye, andouille fatback sirloin meatball ball tip pork belly cupim tenderloin short ribs spare ribs. Jowl landjaeger venison chicken hamburger meatball kielbasa.</p>
        </article>
    </section>
    <section>
        <div style="display: table; height: 400px; overflow: hidden;">
            <div style="display: table-cell; vertical-align: middle;">
                <div>
                    everything is vertically centered in modern IE8+ and others.
                </div>
            </div>
        </div>
    </section>
    <section>
        <div ng-repeat="item in home.items">
            <span>{{item}}</span>
        </div>
    </section>
</div>