
<div class="page page-home" ng-controller="HomeController as home">
    <!-- Splash Carousel -->
    <section class="section-welcome">

    </section>
    <!-- End Splash Carousel -->

    <!-- Splash Information Bar -->
    <div class="splash-information-bar">

    </div>
    <!-- End Splash Information Bar -->

    <!-- Philosophy -->
    <section class="section-philosophy">

    </section>
    <!-- End Philosophy -->

    <div ng-repeat="item in home.items">
        {{item}}
    </div>
</div>