<section class="variant-detail-wrapper">
    <div class="col-xs-12 col-md-8 col-lg-6">
        <img style="width: 100%" src="http://placehold.it/500x500" alt=""/>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-6">
        <section class="variant-details">
            <h1 class="variant-name">{{prdCtrl.currentVariant.payload.name}}</h1>
            <hr/>
            <h2 class="variant-price">{{prdCtrl.currentVariant.payload.pricing.price | currency}}</h2>
            <h3 class="variant-description">{{prdCtrl.currentVariant.payload.description}}</h3>
        </section>
        <form name="">
            <div class="form-group">
                <select ng-model="prdCtrl.variantQty" class="form-control" ng-options="option.name for option in prdCtrl.variantOptions"></select>
            </div>
            <button class="btn btn-full-width btn-info" ng-click="prdCtrl.addLineItem(1)">Add to Cart <i class="fa fa-shopping-cart"></i></button>
        </form>
    </div>
</section>