<div class="screen screen-product-detail">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">{{prdCtrl.currentVariant.payload.name}}</div>
                <div class="panel-body">
                    <div class="col-xs-12 col-md-6">
                        <img style="width: 100%" src="http://placehold.it/500x500" alt=""/>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <ul class="list-inline">
                            <li class="pull-right">
                                <button class="btn btn-info" ng-click="appCtrl.shoppingCart.addItem(prdCtrl.currentVariant)">Add to Cart <i class="fa fa-shopping-cart"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>