
@import (inline) "owl-carousel/owl-carousel/owl.carousel.css";
@import (inline) "owl-carousel/owl-carousel/owl.theme.css";
@import (inline) "fullcalendar/dist/fullcalendar.min.css";
@import (inline) "angular-xeditable/dist/css/xeditable.css";

/* ========================================================================
   Component: layout.less
 ========================================================================== */

//
// Main layout
// This file controls the presentation of all components
//  .wrapper
//    > section
//      > .content-wrapper
//    > .aside
//
// If modified or removed make sure to check the variable
// shared with other components
// -------------------------------------------------------------

@sidemenu-wd:                             220px;
@aside-wd:                                220px;
@aside-wd-collapsed:                      70px;
@aside-bg:                                #fff;

@content-bg:                              @body-bg;
@content-heading-bg:                      #fafbfc;
@content-heading-border:                  #cfdbe2;
@content-padding:                         20px;

@footer-hg:                               60px;

@navbar-hg:                               @navbar-height;
@navbar-utility-hg:                       @navbar-utility-height;
@navbar-bg:                               @navbar-default-bg;

@boxed-max-width:                         1140px;
@z-index-main-section:                    111;

html {
    /* @replace rtl */
    direction: ltr;
    // http://updates.html5rocks.com/2013/12/300ms-tap-delay-gone-away
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    font-family: @font-family-lato;
}

html, body {
    // overflow-x: hidden;
    height: 100%;
    min-height: 100%;
}

a {
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;

    &:hover,
    &:active,
    &:visited,
    &:focus {
        text-decoration: none;
        color: @link-hover-color;
    }
}

// Main wrapper
// -----------------------------
.wrapper {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
    &.ng-leave {
        display: none;
    }

    // Contains the main content
    > section {
        position: relative;
        height: 100%;
        margin-left: 0;
        z-index: @z-index-main-section;
        background-color: @content-bg;
        margin-bottom: @footer-hg !important; // ensure a space for the footer
    }

    // Page Footer
    > footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: @footer-hg;
        border-top: 1px solid @gray-light;
        padding: @content-padding;
        z-index: @z-index-main-section - 2;
        > p {
            margin: 0;
        }
    }
}

// Page main content
// -----------------------------
.content-wrapper {
    width: 100%;

    > .unwrap {
        margin: -15px; // expand over wrapper padding
        @media @tablet {
            margin: -20px; // expand over wrapper padding
        }
    }

    .container,
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    @media @tablet {
        //overflow: auto; // required for portlets
        > h3,
        > .content-heading {
            margin: -@content-padding;
            margin-bottom: @content-padding;
            padding: @content-padding;
        }
        > button, > .btn {
            margin: 0;
        }
    }
}

// Fixed layout
// -----------------------------
.layout-fixed {

    .wrapper {
        .topnavbar-wrapper {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: @z-index-main-section + 10;
            background: @navbar-bg;
        }

        .curtain {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: #000;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out ;
            -ms-transition: all .5s ease-in-out ;
            -o-transition: all .5s ease-in-out ;
            transition: all .5s ease-in-out ;
            visibility: hidden;
            z-index: @z-index-main-section + 15;
            .transition(250ms);

            &.curtain-visible {
                visibility: visible;
                opacity: 0.25;
                cursor: pointer;
            }
        }

        > aside {
            position: fixed;
        }

        > section {
            margin-top: (@navbar-hg + @navbar-utility-hg) + 20px;

            @media (max-width: @screen-tablet) {
                margin-top: @navbar-utility-hg;
            }

            &.checkout-content {
                margin-top: 0;
            }

            &.no-nav {
                margin-top: 30px;
            }
        }
    }
}
