/* ========================================================================
   Component: top-navbar.less
 ========================================================================== */

//
// Horizontal top navbar
// based on the bootstrap navbar styles and markup
// ----------------------------------------------------

@nav-header-wd:                 @aside-wd;
@nav-header-wd-toggled:         @aside-wd-collapsed;

@nav-top-bg:                    @brand-info;
@nav-top-bg-start:              @nav-top-bg;
@nav-top-bg-end:                @brand-info-light;
@nav-header-bg:                 #fff;

@nav-top-item-mobile:           @nav-top-bg;
@nav-top-item-mobile-active:    darken(@nav-top-item-mobile, 20%);

@nav-top-item-desktop:          #fff;
@nav-top-item-desktop-active:   @nav-top-item-mobile-active;

@menu-toggle-width:             40px;
@menu-toggle-bar-height:        4px;


.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid #C9C9C9;

    &.navbar-utility {
        background: darken(@navbar-default-bg, 5%);
        height: @navbar-utility-height;
        min-height: @navbar-utility-height;
        margin: 0;

        .nav.navbar-utilitynav {
            .navbar-nav;

            & > li:last-child > a {
                padding-right: 35px;
            }

            & > li > a {
                font-size: 14px;
                padding-top: 0;
                padding-bottom: 0;
                color: darken(@brand-accent, 30%);
                line-height: @navbar-utility-height;
                .transition(color 0.3s);

                &:hover,
                &:active,
                &:focus,
                &.active {
                    background: inherit;
                    color: @brand-primary;
                }
            }

            @media (min-width: @screen-tablet) {
                float: right;
            }
        }
    }

    &.topnavbar {
        font-weight: 100;
        font-size: 23px;

        .nav.navbar-nav {
            overflow: hidden;

            & > li {
                &.active > a:after {
                    opacity: 1;
                    .transform(translateY(0px));
                }

                & > a {
                    position: relative;
                    padding-left: 30px;
                    padding-right: 30px;

                    &:after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        background: @brand-primary;
                        content: '';
                        opacity: 0;
                        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
                        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
                        transition: opacity 0.3s, transform 0.3s;
                        .transform(translateY(10px));
                    }

                    &:hover:after,
                    &:active:after{
                        opacity: 1;
                        .transform(translateY(0px));
                    }
                }
            }

            @media (min-width: @screen-tablet) {
                float: right;
            }
        }

        .navbar-header  {
            .navbar-brand {
                padding: 5px 15px 0 15px;
            }

            img.logo {
                height: 50px;
                width: auto;
            }

            .navbar-toggle {
                border: none;
                padding: 15px 10px;

                &:hover,
                &:active,
                &:focus {
                    background: transparent;
                }

                .menu-toggle {
                    position: relative;
                    width: @menu-toggle-width;
                    height: @menu-toggle-bar-height;
                    background: #DDDDDD;
                    opacity: 1;
                    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
                    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
                    transition: opacity 0.3s, transform 0.3s;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: @menu-toggle-width;
                        height: @menu-toggle-bar-height;
                        background: #DDDDDD;
                        top: -13px;
                        left: 0;
                        -webkit-transition: -webkit-transform 0.3s;
                        -moz-transition: -moz-transform 0.3s;
                        transition: transform 0.3s;
                    }

                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: @menu-toggle-width;
                        height: @menu-toggle-bar-height;
                        background: #DDDDDD;
                        top: 13px;
                        left: 0;
                        -webkit-transition: -webkit-transform 0.3s;
                        -moz-transition: -moz-transform 0.3s;
                        transition: transform 0.3s;
                    }
                }
            }

        }
    }
}