
<div class="page page-home">
    <!-- Splash Carousel -->
    <section class="welcome-wrap row">
        <div class="col-xs-12 col-sm-5 welcome-logo-container">
            <img class="welcome-logo" src="/static/assets/images/logo/southerncreations-full.svg" alt="southerncreations"/>
        </div>
        <div class="col-xs-12 col-sm-6 welcome-message-container">
            <p class="welcome-message">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <p class="welcome-message">
                Etiam fermentum diam fermentum urna accumsan, eu eleifend arcu varius. Vestibulum tincidunt neque sit amet purus interdum, a accumsan risus tempor.
            </p>
            <button class="btn btn-primary">Order Now</button>
        </div>
        <button class="btn btn-ordernow btn-primary">Order Now <i class="glyphicon glyphicon-chevron-right"></i></button>
    </section>
    <!-- End Splash Carousel -->

    <!-- Splash Information Bar -->
    <div class="trust-bar-wrap row text-center">
        <div class="col-xs-12 col-md-6 guarantees-container">
            <div class="col-xs-12 col-sm-6 security-item">
                <div class="icon-container-circle"><i class="middle-align fa fa-usd"></i></div>
                <div class="information-message">100% Money Back Guarantee</div>
            </div>
            <div class="col-xs-12 col-sm-6 security-item">
                <div class="icon-container-circle"><i class="middle-align fa fa-lock"></i></div>
                <div class="information-message">Secure Shopping</div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 third-party-container">
            <div class="col-xs-12 col-sm-4 security-item">
                <img class="security-logo" src="/static/assets/images/logo/logo-mcafee.png" alt="McAfee"/>
            </div>
            <div class="col-xs-12 col-sm-4 security-item">
                <img class="security-logo" src="/static/assets/images/logo/logo-paypal.png" alt="PayPal"/>
            </div>
            <div class="col-xs-12 col-sm-4 security-item">
                <a href="#"><div class="more-info">More Info</div></a>
            </div>
        </div>
    </div>
    <!-- End Splash Information Bar -->

    <!-- Philosophy -->
    <section class="philosophy-wrap row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="section-heading">
                <span>Our Philosophy</span>
                <hr/>
            </h1>
            <article class="philosophy">
                <p>
                    Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content. It's also called placeholder (or filler) text. It's a convenient tool for mock-ups.
                </p>
                <p>
                    It helps to outline the visual elements of a document or presentation, eg typography, font, or layout. Lorem ipsum is mostly a part of a Latin text by the classical author and philosopher Cicero.
                </p>
                <button class="btn btn-primary btn-hollow">Check It Out</button>
            </article>
        </div>
        <div class="col-xs-12 col-sm-5 text-center">
            <img class="hex-logo" src="/static/assets/images/logo/southerncreations-hex.png" alt="Exquisite Aesthetics"/>
        </div>
    </section>
    <!-- End Philosophy -->

    <!-- Services -->
    <section class="services-wrap row-fluid">
        <div class="services flex-wrap">
            <article class="col-xs-12 col-md-6 service-item hover no-pm" ng-style="{'background-color': service.backgroundColor}" ng-repeat="service in home.services">
                <div class="image-background">
                    <img ng-src="{{service.src}}" ng-srcset="{{service.srcset | join}}" alt=""/>
                </div>
                <div class="service-heading">
                    <h2 class="text-center">{{service.name}}</h2>
                </div>
                <a href="#" class="text-indent-hide">{{service.name}}</a>
            </article>
        </div>
    </section>
    <!-- End Services -->

    <!-- Goodies -->
    <section class="goodies-wrap">
        <div class="goodies flex-wrap">

        </div>
    </section>
    <!-- End Goodies -->

</div>