
<div class="page page-home">
    <!-- Splash Carousel -->
    <section class="section-welcome">
        <div class="col-xs-12 col-md-6 welcome-logo-container">
            <img class="welcome-logo" src="/static/assets/images/logo/southerncreations-full.svg" alt="southerncreations"/>
        </div>
        <div class="col-xs-12 col-md-6 welcome-message-container">
            <p class="welcome-message">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <p class="welcome-message">
                Etiam fermentum diam fermentum urna accumsan, eu eleifend arcu varius. Vestibulum tincidunt neque sit amet purus interdum, a accumsan risus tempor.
            </p>
            <button class="btn btn-primary">Order Now</button>
        </div>
    </section>
    <!-- End Splash Carousel -->

    <!-- Splash Information Bar -->
    <div class="splash-information-bar">

    </div>
    <!-- End Splash Information Bar -->

    <!-- Philosophy -->
    <section class="section-philosophy">

    </section>
    <!-- End Philosophy -->

    <div ng-repeat="item in home.items">
        {{item}}
    </div>
</div>