<div class="screen screen-home">
    <!-- Splash Welcome -->
    <section class="welcome-wrap row-fluid">
        <div class="col-xs-12 col-sm-5 welcome-logo-container">
            <img class="welcome-logo" src="/static/assets/images/logo/southerncreations-full.svg" alt="southerncreations"/>
        </div>
        <div class="col-xs-12 col-sm-6 welcome-message-container">
            <p class="welcome-message">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <p class="welcome-message">
                Etiam fermentum diam fermentum urna accumsan, eu eleifend arcu varius. Vestibulum tincidunt neque sit amet purus interdum, a accumsan risus tempor.
            </p>
            <button class="btn btn-lg btn-primary btn-hollow">Order Now</button>
        </div>
        <button class="btn btn-lg btn-ordernow btn-primary">Order Now <i class="glyphicon glyphicon-chevron-right"></i></button>
    </section>
    <!-- End Splash Welcome -->

    <!-- Trust Information Bar -->
    <div class="trust-bar-wrap row no-margin">
        <div class="col-xs-12 col-md-6 guarantees-container">
            <div class="col-xs-12 col-sm-6 security-item">
                <article class="no-wrap">
                    <div class="icon-container-circle"><i class="middle-align fa fa-usd"></i></div>
                    <div class="trust-message">100% Money Back Guarantee</div>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 security-item">
                <article class="no-wrap">
                    <div class="icon-container-circle"><i class="middle-align fa fa-lock"></i></div>
                    <div class="trust-message">Secure Shopping</div>
                </article>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 third-party-container">
            <div class="col-xs-6 col-sm-3 security-item"><i class="pw pw-trust-e"></i></div>
            <div class="col-xs-6 col-sm-3 security-item"><i class="pw pw-paypal-new"></i></div>
            <div class="col-xs-6 col-sm-3 security-item"><i class="pw pw-google-wallet"></i></div>
            <div class="col-xs-6 col-sm-3 security-item"><i class="pw pw pw-braintree"></i></div>
        </div>
    </div>
    <!-- End Trust Information Bar -->

    <!-- Philosophy -->
    <section class="philosophy-wrap row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="section-heading">
                <span>Our Philosophy</span>
                <hr/>
            </h1>
            <article class="philosophy">
                <p>{{::home.philosophy.p1 || 'empty'}}</p>
                <p>{{::home.philosophy.p2 || 'empty'}}</p>
                <button class="btn btn-lg btn-primary btn-hollow">Check It Out</button>
            </article>
        </div>
        <div class="col-xs-12 col-sm-5 text-center">
            <img class="hex-logo" src="/static/assets/images/logo/southerncreations-hex.png" alt="Exquisite Aesthetics"/>
        </div>
    </section>
    <!-- End Philosophy -->

    <!--<hr class="diamond"/>-->

    <!-- Services -->
    <section class="services-wrap row no-margin text-center">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4 no-wrap">
            <h1 class="section-heading">
                <span>Catering Services</span>
                <hr/>
            </h1>
        </div>
        <div class="clearfix"></div>
        <div class="services">
            <article class="col-xs-12 col-md-6 service-item hover no-pm" ng-style="{'background-color': service.backgroundColor}" ng-repeat="service in home.services">
                <div class="image-background">
                    <img ng-src="{{service.src}}" ng-srcset="{{service.srcset | join}}" alt=""/>
                </div>
                <div class="service-heading-container text-center">
                    <header class="service-heading">
                        <div class="service-icon-container">
                            <img class="service-icon" ng-src="{{service.icon}}" alt=""/>
                        </div>
                        <hr/>
                        <h2 class="text-center">{{service.name}}</h2>
                    </header>
                </div>
                <a href="#" class="text-indent-hide">{{service.name}}</a>
            </article>
        </div>
    </section>
    <!-- End Services -->

    <!--<hr class="diamond"/>-->

    <!-- Goodies -->
    <section class="goodies-wrap row no-pm text-center">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <h1 class="section-heading">
                <span>Goodies</span>
                <hr/>
            </h1>
        </div>
        <div class="clearfix"></div>
        <div class="goodies">
            <article class="goody-item" ng-repeat="goody in home.goodies">
                <a href="">
                    <header class="goody-heading">
                        <div class="details">
                            <h2>{{goody.name}}</h2>
                            <p>{{goody.description}}</p>
                        </div>
                    </header>
                <span class="goody-image-container">
                    <img ng-src="{{goody.src}}" alt=""/>
                </span>
                </a>
            </article>
            <button class="btn btn-lg btn-primary btn-hollow" ng-click="home.goToFullMenu()">See Full Menu <i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </section>
    <!-- End Goodies -->

    <!-- Video -->
    <section fitvid class="video-wrap">
        <div class="vendor">
            <iframe src="http://player.vimeo.com/video/21046511?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0"></iframe>
        </div>
    </section>
    <!-- End Video -->

    <!-- Testimonials -->
    <section class="testimonials-wrap text-center">
        <div class="col-xs-12 col-md-6 col-md-offset-3 no-wrap">
            <h1 class="section-heading">
                <span>What People Are Saying</span>
                <hr/>
            </h1>
        </div>
        <div class="clearfix"></div>
        <div class="testimonials">
            <owl-carousel owl-options="{}">
                <div class="testimonial">
                    <h1>1</h1>
                    <p>This is a testimonial</p>
                </div>
                <div class="testimonial"><h1>2</h1></div>
                <div class="testimonial"><h1>3</h1></div>
                <div class="testimonial"><h1>4</h1></div>
                <div class="testimonial"><h1>5</h1></div>
                <div class="testimonial"><h1>6</h1></div>
                <div class="testimonial"><h1>7</h1></div>
                <div class="testimonial"><h1>8</h1></div>
                <div class="testimonial"><h1>9</h1></div>
                <div class="testimonial"><h1>10</h1></div>
                <div class="testimonial"><h1>11</h1></div>
                <div class="testimonial"><h1>12</h1></div>
                <div class="testimonial"><h1>13</h1></div>
                <div class="testimonial"><h1>14</h1></div>
                <div class="testimonial"><h1>15</h1></div>
                <div class="testimonial"><h1>16</h1></div>
            </owl-carousel>
        </div>
    </section>
    <!-- End Testimonials-->

</div>