<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>{{title}}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="southern, creations, baked, bakery, food, cake, cupcake, sweet, rolls">
    <meta name="description" content="{{description}}">

    <!--<meta property="fb:app_id" content="APP_ID">-->
    <meta property="og:title" content="{{appName}} - {{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="APP_URL">
    <meta property="og:image" content="APP_LOGO">
    <meta property="og:site_name" content="Southern Creations - Aesthetic Comfort">
    <meta property="fb:admins" content="APP_ADMIN">
    <base href="{{baseRoute}}">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    {% for file in feature.css %}
    <link rel="stylesheet" href="{{file}}">
    {% endfor %}

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>