<!-- curtain -->
<div ng-class="{'curtain-visible': appCtrl.shelf}" ng-click="appCtrl.closeShelves()" id="curtain" class="curtain"></div>

<!-- cart -->
<aside ng-include="'/static/views/layouts/partials/shopping-cart.html'" class="offsidebar offsidebar-cart" ng-class="{'offsidebar-cart-open': appCtrl.shelf === 'cart'}"></aside>

<!-- sidebar-->
<aside ng-include="'/static/views/layouts/partials/side-navbar.html'" class="offsidebar offsidebar-menu" ng-hide="appCtrl.isCheckoutState()" ng-class="{'offsidebar-menu-open': appCtrl.shelf === 'menu'}"></aside>

<!-- top navbar-->
<header ng-include="'/static/views/layouts/partials/top-navbar.html'" class="topnavbar-wrapper"></header>

<!-- Main section-->
<section>

    <!-- Page content-->
    <div ui-view="content" autoscroll="false" class="content-wrapper"></div>

</section>

<!-- Page footer-->
<footer ng-include="'/static/views/layouts/partials/footer.html'"></footer>