<!DOCTYPE html>
<html>
{% include '../includes/head.html' %}
<body ng-controller="MasterController as master">
    <window-click menu-open="master.menuopen"></window-click>
    <window-resize menu-open="master.menuopen"></window-resize>

    <div id="application-container" ng-class="{'application-menu-open': master.menuopen}">
        <div ui-view="side-menu"></div>

        <div id="application-content">
            <header id="header" ui-view="header"></header>

            <div id="main-content" ui-view="content"></div>

            <div class="clearfix"></div>

            <footer id="footer" ui-view="footer"></footer>
        </div>

    </div>
    {% include '../includes/foot.html' %}
</body>
</html>