@import (reference) "bootstrap-overrides/custom-variables";
@import (reference) "bootstrap-overrides/custom-utilities";

.page {
    background: @white;
}

.welcome-wrap {
    position: relative;
    height: 550px;
    width: 100%;
    padding: 50px;
}

.welcome-logo-container {
    position: relative;
    height: 100%;
    text-align: center;
}

.welcome-logo {
    position: absolute;
    height: 350px;
    width: auto;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.welcome-message-container {
    font-size: 25px;
    padding: 20px 65px 20px 0;
    margin-top: 100px;
}

.btn-ordernow {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 2.5;

    i.glyphicon-chevron-right {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 25px;
    }
}

.trust-bar-wrap {
    background: #323232;
    color: @white;
    text-align: center;

    .security-item {
        font-size: 55px;
        padding: 0;
    }

    .third-party-container {

    }

    .icon-container-circle {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        font-size: 30px;
        font-style: italic;

        i.fa {
            position: absolute;
        }
    }

    .trust-message {
        display: inline-block;
        font-size: 20px;
        .vertical-align;
    }

    .security-logo {
        height: 30px;
        width: auto;
        margin-top: 7px;
    }
}

.philosophy-wrap {
    float: left;
    position: relative;
    padding: 40px 75px;
}

.philosophy {
    font-size: 20px;
    padding: 30px 10px;
    color: #8E8D8E;
}

.hex-logo {
    height: 400px;
}

.services-wrap {
    float: left;
    position: relative;
    width: 100%;
    padding: 20px 60px;

    .services {

    }

    article.service-item {
        position: relative;
        border: 1px solid @white;

        &.hover {
            overflow: hidden;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1,1);
            transform: translateZ(0) scale(1,1);

            &:after {
                display: block;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: inherit;
                -webkit-transition: 3s -webkit-transform cubic-bezier(.23, 1, .32, 1);
                transition: 3s transform cubic-bezier(.23, 1, .32, 1);
                opacity: .7;
                -webkit-transform: scale(2) translateX(-100%) translateY(-100%) translateZ(0) rotate(-45deg);
                transform: scale(2) translateX(-100%) translateY(-100%) translateZ(0) rotate(-45deg);
            }

            &:hover {

                &:after {
                    -webkit-transform: scale(2) rotate(-45deg) translateZ(0);
                    transform: scale(2) rotate(-45deg) translateZ(0);
                    -webkit-transition-duration: 1s;
                    transition-duration: 1s;
                }

                .service-heading-container {
                    opacity: 1;
                    -webkit-transform: translateY(0) translateZ(0);
                    transform: translateY(0) translateZ(0);
                    -webkit-transition-delay: .25s;
                    transition-delay: .25s;
                    -webkit-transition-duration: .75s;
                    transition-duration: .75s;
                }
            }
        }

        hr {
            width: 60px;
            background: @white;
        }
    }

    .image-background {
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
        position: relative;

        &:before {
            display: block;
            content: '';
            padding-top: 56%;
        }

        img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            overflow: hidden;
            left: 0;
            top: 0;
        }
    }

    .service-heading-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: transparent;
        z-index: 1;
        color: @white;
        -webkit-transform: translateY(-20px) translateZ(0);
        transform: translateY(-20px) translateZ(0);
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .service-heading {
        .vertical-align;
    }

    .service-icon-container {
        width: 20%;
        margin: 0 auto;

        .service-icon {
            width: 100%;
            height: auto;
        }
    }
    
    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}

.goodies-wrap {

    .goodies {
        position: relative;
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    article {
        background: #d0d0d0;
        border: 1px solid #b9b9b9;
        border-radius: 150px;
        float: left;
        margin: 0 0 30px 30px;
        overflow: hidden;
        padding: 9px;
        position: relative;
        text-align: left;
        transition: all 0.2s ease-in;
        -webkit-transition: all 0.1s ease-in;
        -moz-transition: all 0.1s ease-in;
        -o-transition: all 0.1s ease-in;
        width: 300px;
        height: 300px;

        &:nth-child(3n+1) {
            clear: left;
            margin-left: 0;
        }

        .goody-heading {
            position: relative;
            width: 280px;
            height: 280px;
            z-index: 2;

            .details {
                color: @white;
                background: #272123;
                background: rgba(39, 33, 35, 0.9);
                position: absolute;
                top: 290px;
                left: 0;
                text-align: center;
                -webkit-transition: .5s top cubic-bezier(0.23, 1, 0.32, 1);
                transition: .5s top cubic-bezier(0.23, 1, 0.32, 1);
                width: 280px;
                height: 145px;
                padding-top: 25px;
                border-radius: 100%;

                h2,
                p {
                    margin: 0;
                }
            }
        }

        .goody-image-container {

        }

        .goody-name-container {
            color: #d9d9d9;
        }

        img {
            border-radius: 160px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        hr {
            width: 60px;
            margin: 30px auto 10px;
            border-top: 2px solid #D8D8D8;
        }

        &:hover {
            .goody-heading {
                .details {
                    top: 165px;
                }
            }
        }
    }
}

.video-wrap {
    width: 70%;
    padding: 80px 0;
    margin: 0 auto;
}

@media screen and (max-width: 1350px) {
    .trust-bar-wrap {

        .icon-container-circle {
            width: 40px;
            height: 40px;
        }

        .trust-message {
            font-size: 17px;
        }
    }
}

@media screen and (max-width: @screen-desktop) {
    .welcome-logo {
        height: 250px;
    }

    .welcome-message-container {
        font-size: 20px;
        padding: 20px 0;
        margin-top: 100px;
    }

    .trust-bar-wrap {
        .icon-container-circle {
            height: 50px;
            width: 50px;
            font-size: 30px;
        }

        .trust-message {
            font-size: 20px;
        }
    }

    .philosophy-wrap {
        padding: 40px 15px;
    }

    .philosophy {
        font-size: 15px;
    }

    .hex-logo {
        height: 300px;
    }
}

@media screen and (max-width: 960px) {
    .goodies-wrap {

        .goodies {
            width: 630px;
        }

        article:nth-child(3n+1) {
            clear: none;
            margin-left: 30px;
        }

        article:nth-child(2n+1) {
            clear: left;
            margin-left: 0;
        }
    }

    .video-wrap {
        width: 90%;
    }
}

@media screen and (max-width: @screen-tablet) {
    .welcome-logo {
        height: 350px;
    }

    .welcome-message-container {
        display: none;
    }

    .btn-ordernow {
        display: block;
    }

    .section-heading {
        text-align: center;
    }

    .hex-logo {
        height: 350px;
    }
}

@media screen and (max-width: 630px) {
    .goodies-wrap {

        .goodies {
            width: 90%;
        }

        article {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: none;
            border: 0;
            border-bottom: 1px dotted #dcdcdc;
            border-radius: 0;
            float: left;
            margin: 0 0 10px;
            overflow: hidden;
            padding: 0 0 10px 0;
            position: relative;
            width: 100%;
            height: auto;

            a {
                display: block;
            }

            .goody-heading {
                mask-image: none;
                -webkit-mask-image: none;
                -o-mask-image: none;
                -moz-mask-image: none;
                position: absolute;
                left: 45%;
                top: 20%;
                width: 55%;
                height: auto;

                .details {
                    background: none;
                    padding: 0;
                    position: relative;
                    top: 0;
                    left: 0;
                    text-align: left;
                    width: 100%;
                    height: auto;

                    h1 {
                        color: #443A3D;
                        font-size: 40px;
                        line-height: 40px;
                        margin-bottom: 5px;
                    }

                    p {
                        color: #67585E;
                        font-size: 20px;
                        font-style: italic;
                        line-height: 20px;
                    }
                }
            }

            .goody-image-container {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                background: #d0d0d0;
                border: 1px solid #b9b9b9;
                border-radius: 50%;
                display: inline-block;
                padding: 4px;
                position: relative;
                top: 0;
                left: 0;
                width: 40%;
                height: auto;

                img {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    border-radius: 50%;
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: auto;
                }
            }

            &:nth-child(3n+1) {
                clear: none;
                margin-left: 0;
            }

            &:hover {
                .goody-heading {
                    .details {
                        top: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 680px) {

    .trust-bar-wrap {
        .guarantees-container {

        }
        
        .third-party-container {
            padding: 0;
        }

        .icon-container-circle {
            /*width: 35px;
            height: 35px;
            font-size: 25px;*/
        }

        .trust-message {
            /*font-size: 15px;*/
        }
    }
}

@media screen and (max-width: @screen-phone) {
    .welcome-logo {
        height: 200px;
    }

    .welcome-wrap {
        height: 400px;
    }

    .icon-container-circle {
        height: 30px;
        width: 30px;
    }

    .hex-logo {
        height: 320px;
    }

    .trust-bar-wrap {

        .trust-message {
            font-size: 17px;
        }

        .guarantees-container {
            text-align: left;
        }

        .third-party-container {
            padding: 0;
        }

        .security-logo {
            height: 20px;
        }
    }
}