<nav class="navbar navbar-utility">
    <div class="constrain">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-utilitynav">
                <li>
                    <a ng-if="!app.isLoggedIn" ui-sref-active="active" ui-sref="app.login"><i class="fa fa-user"></i> Sign In</a>
                    <span ng-if="app.isLoggedIn" class="dropdown" dropdown>
                        <a href dropdown-toggle>
                            <i class="fa fa-user"></i>
                            <span>Hello, {{app.user.username}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref=".profile">View Account</a></li>
                            <li><a ng-click="app.logout()">Logout</a></li>
                        </ul>
                    </span>

                </li>
                <li>
                    <a ui-sref="#" class="nav-cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="badge cart-count">0</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar topnavbar">
    <div class="constrain">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref=".home">
                <img class="logo" src="/static/assets/images/logo/southerncreations-small.svg" alt="cupcake"/>
            </a>
            <a href="#" toggle-state="offsidebar-open" class="navbar-toggle collapsed">
                <div class="menu-toggle"></div>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active" ng-repeat="menuitem in ::app.menuitems">
                    <a class="menu-item" ui-sref="{{menuitem.state}}">{{menuitem.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>