<nav class="navbar navbar-utility">
    <div class="constrain">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-utilitynav">
                <li class="utility-item utility-shopping-cart">
                    <a ui-sref="app.cart" class="nav-cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="badge cart-count">{{appCtrl.order.getTotalItems()}}</span>
                    </a>
                </li>
                <li class="utility-item utility-user-profile">
                    <a ng-if="!appCtrl.isLoggedIn" ui-sref-active="active" ui-sref=".login"><i class="fa fa-user"></i> Sign In</a>
                    <div ng-if="appCtrl.isLoggedIn" class="dropdown" dropdown>
                        <a href="#" dropdown-toggle>
                            <i class="fa fa-user"></i>
                            <span>Hello, {{}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-profile-menu">
                            <li><a ui-sref=".profile.user">View Account</a></li>
                            <li><a ng-click="appCtrl.logout()">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar topnavbar">
    <div class="constrain">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref=".home">
                <img class="logo" src="/static/assets/images/logo/southerncreations-small.svg" alt="cupcake"/>
            </a>
            <a href="#" sc-toggle-state="offsidebar-open" class="navbar-toggle collapsed">
                <div class="menu-toggle"></div>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active" ng-repeat="menuitem in ::appCtrl.menuitems">
                    <a class="menu-item" ui-sref="{{menuitem.state}}">{{menuitem.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>