.screen-products {
    padding: 0 30px;
    margin-bottom: 30px;
}

.products-wrapper {
    width: 100%;
    padding-top: 20px;

    ul.products {
        > li.product {
            text-align: center;
            margin: 5px 0;
        }
    }

    .product-info {
        margin: 5px 0;
        text-align: left;
    }

    .product-price {
        color: @brand-primary;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: .085em;
        margin: 10px 0;
    }
}

.panel-products {
    .panel-heading {
        border-top: 3px solid @brand-info;
        text-align: left;
    }
}