.products-banner {
    height: 30em;
    width: 100%;
    margin-bottom: 1em;
}

.products-wrapper {
    width: 100%;

    ul.products {
        > li.product {
            text-align: center;
            margin: 5px 0;
        }
    }
}

