.menu-banner {
    height: 30em;
    width: 100%;
    margin-bottom: 1em;
    background: url('/static/assets/images/backgrounds/menu-banner.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}